html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100vw; /* Ensure html/body take full viewport width */
  height: 100vh; /* Ensure html/body take full viewport height */
}

*, *::before, *::after {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* O'zingizning global stillaringiz */
.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 1rem;
}
